.log-in-bg{
    background-image: linear-gradient(#00000060, #00000060), url("../../images/log-sign-bg.jpg");
}
.fs-icon{
    font-size: 45px;
    transition: all .5s;
}
.fs-icon:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.icon-twitter{
    color: #009DED;
}
.icon-facebook{
    color: #046FE5;
}
/* using some media query  */
@media (max-width:668px) { 
.log-sign{
    width: 95% !important;
}
}
@media (max-width:992px) { 
.login-form{
order: 2;
}
.login-img{
order: 1;
}
.log-in-bg, .sign-up-bg{
    height: 100%;
}
}
