.service-txt{
    font-size: 40px;
}
.service-img{
    height: 150px;
}
.service-item{
    transition: all 0.5s ease-in-out;
}
.service-item:hover{
    transform: scale(1.02);
    cursor: pointer;
}

@media (max-width:668px){
    .serviceInfo-img{
        height: 150px !important;
    }
}
@media (max-width:992px){
    .service-txt{
        font-size: 30px;
    }
}